<div>
    This page contains <%= file_list.length %> mini-pictures of Rigs of Rods mods.<br>
    Click on an image to enlarge it <br>
    <%= "<a href=\"page_#{index - 1}.html\" >Previous page</a>" if index - 1 >= 0  %>
    <a href="index.html" >Home</a>
    <%= "<a href=\"page_#{index + 1}.html\" >Next page</a>" if index + 1 < max  %>
</div>
<hr>

<div id="images">
<% file_list.each do |file| %>
  <% file_name = file.split(/\.(skin)?zip_/i)[0] %>
  <% file_link = file.split(/zip_(?!.*zip_)/i)[0] %>
  <center class="img">
      <div class="desc"><%= file_name %></div>
        <a href="<%= "pictures/" + file %>" target="_blank">
          <img src="<%= "pictures/" + file %>" width="200" height="200" style="cursor: pointer">
        </a>
      <a href="<%= "https://cloudflare-ipfs.com/ipfs/QmdNBzd1wCFK113qYLAw6gRCPujbh18tSZLsfL35HEZXSn/#{file_link}zip" %>" >Download</a>
  </center>
<% end %>
</div>